.right-button-container {
  position: absolute;
  width: 30px;
  right: 10px;
  top: 10px;
  z-index: 100;
}

.Right-buttons {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
}

.Right-buttons::after,
.Right-buttons::before {
  pointer-events: none;
  --scale: 0;
  --arrow-size: 8px;
  position: absolute;
  content: "";
  top: 50%;
  left: -3px;
  transform: translateY(-50%) translateX(var(--translate-x, 0)) scale(var(--scale));
  transition: 150ms transform;
}

.Right-buttons::before {
  --translate-x: calc(-100% - var(--arrow-size));
  content: attr(aria-label);
  color: var(--fg-color-button);
  background-color: var(--bg-color);
  width: 10px;
  width: max-content;
  padding: 7px;
  border-radius: 3px;
  transform-origin: right center;
  box-shadow: 0 1px 1px var(--box-shadow-color);
}

.Right-buttons::after {
  transform-origin: left center;
  --translate-x: calc(-1 * var(--arrow-size) - 1px);
  border: var(--arrow-size) solid transparent;
  border-left-color: var(--bg-color);
}

.Right-buttons:hover::after,
.Right-buttons:hover::before {
  --scale: 1;
}

#theme-toggle svg {
  transition: 0.3s ease-out;
}

.light_theme #theme-toggle-sun {
  transform: rotate(0.5turn);
}

.light_theme #theme-toggle-circle {
  transform: scale(1.2) translateX(-15%);
}

#theme-toggle-circle,
#theme-toggle-sun {
  transform-origin: center;
  transition: transform 0.5s ease-out;
}

#theme-toggle-sun {
  transition: transform 0.75s cubic-bezier(0.46, 1.15, 0.41, 1.2);
}