#table-wrapper {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: -50%;
  left: 0;
  background: var(--bg-color);
  color: var(--fg-color-text);
  transition: 0.3s ease-out;
  box-shadow: 0 0 4px var(--box-shadow-color);
  display: flex;
  flex-direction: column;
  z-index: 300;
}

#table-show-button {
  position: absolute;
  right: 30px;
  top: -80px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-items: center;
  z-index: 2;
}

#table-close {
  display: none;
  margin: 10px;
}

#table-open {
  display: block;
  width: 25px;
  margin: auto;
}

#table-show-button::after,
#table-show-button::before {
  pointer-events: none;
  --scale: 0;
  --arrow-size: 8px;
  position: absolute;
  content: "";
  top: 50%;
  left: -3px;
  transform: translateY(-50%) translateX(var(--translate-x, 0)) scale(var(--scale));
  transition: 150ms transform;
}

#table-show-button::before {
  --translate-x: calc(-100% - var(--arrow-size));
  content: attr(aria-label);
  background-color: var(--bg-color);
  color: var(--fg-color-text);
  width: 10px;
  width: max-content;
  padding: 7px;
  border-radius: 3px;
  transform-origin: right center;
  box-shadow: 0 1px 1px var(--box-shadow-color);
}

#table-show-button::after {
  transform-origin: left center;
  --translate-x: calc(-1 * var(--arrow-size) - 1px);
  border: var(--arrow-size) solid transparent;
  border-left-color: var(--bg-color);
}

#table-show-button:hover::after,
#table-show-button:hover::before {
  --scale: 1;
}

.table-content-wrapper {
  background: var(--bg-color-table-content);
  width: 100%;
  overflow: auto;
}

.table-content-wrapper::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.table-content-wrapper:hover::-webkit-scrollbar-thumb {
  background: var(--bg-color-scroll-thumb);
}

.table-content-wrapper::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: transparent;
}

.table-content {
  width: 100%;
  border-collapse: collapse;
}

.table-content-header {
  font-size: 14px;
}

.table-content-data {
  overflow: auto;
}

.table-content td,
.table-content th {
  padding: 16px;
  text-align: center;
}

.table-content th,
.table-content tr {
  cursor: pointer;
}

.table-content th {
  padding-right: 24px;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  background-color: var(--bg-color-table-header);
}

.table-content th div {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.table-content tr {
  border-bottom: 1px solid var(--fg-color-border);
}

.table-content-data tr:hover {
  background: var(--bg-color-table-hover);
}

.table-pagination-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  background: var(--bg-color-table-content);
  border-top: 1px solid var(--fg-color-border);
}

.table-pagination-rows {
  display: flex;
  align-items: center;
  height: 100%;
  margin-inline: 10px;
}

.table-pagination-rows-select {
  cursor: pointer;
  color: var(--fg-color-text);
  border: none;
  background: var(--bg-color-table-content);
  margin-left: 10px;
}

.table-pagination-pages {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-pagination-pages button {
  height: 35px;
  width: 35px;
  background: transparent;
  box-shadow: none;
  border-radius: 0px;
  flex-shrink: 0;
}

.table-pagination-pages button:hover {
  background: var(--bg-color-button-hover);
}

.table-pagination-wrapper svg {
  margin: 20%;
}

.table-pagination-curr {
  width: 35px;
  text-align: center;
  color: var(--fg-color-text);
  appearance: none;
  border: none;
  background: transparent;
  -moz-appearance: textfield;
  margin-inline: 10px;
}

.table-pagination-curr::-webkit-outer-spin-button,
.table-pagination-curr::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 1040px) {
  .table-content {
    border: 0;
  }
  .table-content thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .table-content tr {
    border-bottom: 3px solid var(--fg-color-border);
    display: block;
  }
  .table-content td {
    min-height: 1em;
    border-bottom: 1px solid var(--fg-color-border);
    display: block;
    font-size: 16px;
    text-align: right;
  }
  .table-content td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .table-content td:last-child {
    border-bottom: 0;
  }
}