.light_theme {
  --fg-color: hsla(0, 0%, 0%, 1);
  --fg-color-header: hsla(0, 0%, 0%, 0.9);
  --fg-color-text: hsla(0, 0%, 0%, 0.8);
  --fg-color-button: hsla(0, 0%, 0%, 0.6);
  --fg-color-border: hsla(0, 0%, 0%, 0.3);
  --bg-color: hsla(0, 0%, 100%, 1);
  --bg-color-scroll-thumb: hsla(0, 0%, 0%, 0.2);
  --bg-color-button-hover: hsla(0, 0%, 50%, 0.15);
  --bg-color-table-content: hsla(0, 0%, 98%, 1);
  --bg-color-table-hover: hsla(0, 0%, 85%, 1);
  --bg-color-table-header: hsla(0, 0%, 94%, 1);
  --box-shadow-color: hsla(0, 0%, 0%, 0.3);
  --map-cluster-color: rgb(40, 100, 40);
  --map-border-outline: hsla(0, 0%, 0%, 0.5)
}

.dark_theme {
  --fg-color: hsla(0, 0%, 100%, 1);
  --fg-color-header: hsla(0, 0%, 100%, 0.9);
  --fg-color-text: hsla(0, 0%, 100%, 0.8);
  --fg-color-button: hsla(0, 0%, 100%, 0.6);
  --fg-color-border: hsla(0, 0%, 100%, 0.3);
  --bg-color: hsla(0, 0%, 12%, 1);
  --bg-color-scroll-thumb: hsla(0, 0%, 100%, 0.2);
  --bg-color-button-hover: hsla(0, 0%, 50%, 0.15);
  --bg-color-table-content: hsla(0, 0%, 10%, 1);
  --bg-color-table-hover: hsla(0, 0%, 14%, 1);
  --bg-color-table-header: hsla(0, 0%, 9%, 1);
  --box-shadow-color: hsla(0, 0%, 0%, 0.3);
  --map-cluster-color: rgb(40, 100, 40);
  --map-border-outline: hsla(0, 0%, 100%, 0.4)
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  display: block;
  overflow-y: hidden;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mapboxgl-popup-content {
  font-size: 14px;
  font-weight: bold;
  background: var(--bg-color);
  color: var(--fg-color-text);
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--bg-color);
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: var(--bg-color);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--bg-color);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--bg-color);
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background: var(--bg-color);
  box-shadow: 0 1px 4px var(--box-shadow-color);
  border-radius: 20%;
}

button:hover {
  background: linear-gradient(var(--bg-color-button-hover), var(--bg-color-button-hover)), linear-gradient(var(--bg-color), var(--bg-color));
}

.svg-icons {
  transition: 0.3s ease-out;
  fill: var(--fg-color);
  opacity: 0.6;
  margin: 10%
}

button:hover .svg-icons {
  opacity: 1;
}