.Legend_container {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 600px;
    max-height: 80%;
    width: 300px;
    max-width: 25%;
    z-index: 10;
    background: hsla(0,0%,100%,.658);
    box-shadow: 0 3px 2px 0 #a1a1a1;
    font-size: 14px;
    color: var(--text-color);
    min-width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.Legend_header {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    margin: 10px 0;
}

.Legend_list ul {
    list-style: none;
    flex-direction: column;
    padding: 0;
    width: 90%;
    display: flex;
    align-items: center;
}

.Legend_list li {
    margin: 10px 0;
    width: 90%;
    display: flex;
    align-items: center;
}

.Legend_list img {
    width: 26px;
    margin-right: 10px;
}

.Legend_container::-webkit-scrollbar{
	width: 8px;
	background:transparent;
}

.Legend_container:hover::-webkit-scrollbar-thumb{
	background-color: rgb(204, 204, 204);
}

.Legend_container::-webkit-scrollbar-thumb{
	border-radius: 8px;
	background-color: transparent;
}
