#click-properties-container{
    position: absolute;
    top:0;
    left: -480px;
    height: 100%;
    width: 100%;
    max-width: 480px;
    z-index: 15;
    background: rgba(var(--White),1);
    box-shadow: 0 3px 2px 0 rgba(var(--Medium-Grey),1);
    font-size: 14px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s ease-out;
}

#click-properties-header{
    color: rgba(var(--Blackish),1);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    margin: 10px 0;
}

#click-properties-list{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
}

#click-properties-list ul{
    list-style: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: left;
}

#click-properties-list li{
    color: rgba(var(--Dark-Grey),1);
    margin: 20px 0;
    border-bottom: 1px solid rgba(var(--Medium-Grey),1);
    padding: 5px 0;
    letter-spacing: .5px;
}

#click-properties-close{
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
}

#click-properties-close::after,
#click-properties-close::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 15px;
    background-color: rgba(var(--Blackish),1);
}
#click-properties-close::after{
    transform: translate(-50%,-50%) rotate(45deg);
}

#click-properties-close::before{
    transform: translate(-50%,-50%) rotate(-45deg);
}

#click-properties-close:hover::after,
#click-properties-close:hover::before{
    height: 25px;
    transition: 0.3s ease-out;
}

#click-properties-container::-webkit-scrollbar{
	width: 8px;
	background:transparent;
}

#click-properties-container:hover::-webkit-scrollbar-thumb{
	background-color: rgba(var(--Medium-Grey),1);
}

#click-properties-container::-webkit-scrollbar-thumb{
	border-radius: 8px;
	background-color: transparent;
}