#click-properties-container{
    position: absolute;
    left: -480px;
    height: 100%;
    width: 100%;
    max-width: 480px;
    z-index: 15;
    background: hsla(0,0%,100%,1);
    box-shadow: 0 3px 2px 0 #a1a1a1;
    font-size: 14px;
    color: var(--text-color);
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s ease-out;
}

#click-properties-header{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    margin: 10px 0;
}

#click-properties-list{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
}

#click-properties-list ul{
    list-style: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: left;
}

#click-properties-list li{
    margin: 20px 0;
    border-bottom: 1px solid #c5c5c5;
    padding: 5px 0;
    letter-spacing: .5px;
}

#click-properties-close{
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
}
#click-properties-close:hover{
    background-color: #e6e6e6;
}

#click-properties-close:hover > div{
    height: 20px;
    transition: 0.3s ease-out;
}

#click-properties-close > div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 15px;
    background-color: var(--text-color);
}

#click-properties-close :first-child{
    transform: translate(-50%,-50%) rotate(45deg);
}

#click-properties-close :last-child{
    transform: translate(-50%,-50%) rotate(-45deg);
}