#properties-panel-container{
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: -40%;
    left: 0;
    background: rgba(var(--White),1);
    z-index: 16;
    transition: 0.3s ease-out;
}

#properties-panel-button{
    position: absolute;
    z-index: 16;
    right: 30px;
    top: -80px;
    width: 50px;
    height: 50px;
    background-color: rgba(var(--Dark-Green),1);
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.properties-panel-button-content{
    position: absolute;
    background-color: rgba(var(--White),1);
    width: 60%;
    height: 5px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    box-shadow: 
        0 5px 0 rgba(var(--Dark-Green),1),
        0 -5px 0 rgba(var(--Dark-Green),1),
        0 10px 0 rgba(var(--White),1),
        0 -10px 0 rgba(var(--White),1);
    transition: .1s ease-in;
}

.open {
    background-color: rgba(var(--Dark-Green),1);
    height: 60%;
    transform: 
        translate(50%, -50%)
        rotate(45deg);
    box-shadow: 0 0 0; 
}
.open::after{
    content:'';
    display:block;
    position: absolute;
    background-color: rgba(var(--White),1);
    width: 100%;
    height: 5px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.open::before{
    content:'';
    display:block;
    position: absolute;
    background-color: rgba(var(--White),1);
    width: 5px;
    height: 100%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.properties-panel-menu{
    width: 100%;
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.properties-panel-menu > div{
    margin-left: auto;
    padding-top: 15px;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.properties-panel-menu-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
    vertical-align: middle;
    flex-direction: column;
    padding-bottom: 16px;
}

.properties-panel-menu-label img{
    width: 32px;
}

.properties-panel-menu-input{
    cursor: pointer;
    margin: 5px auto;
}

#properties-panel-menu-all{
    height: 24px;
    width: 24px;
    border-radius: 16px;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(var(--Dark-Green),1);
    background-color: rgba(var(--White),1);
}