#table-wrapper {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: -50%;
  left: 0;
  background: var(--bg-color);
  color: var(--fg-color-text);
  z-index: 16;
  transition: 0.3s ease-out;
  box-shadow: 0 0 4px var(--box-shadow-color);
  display: flex;
  flex-direction: column;
}

#table-show-button {
  position: absolute;
  z-index: 16;
  right: 30px;
  top: -80px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-items: center;
}

#table-close {
  display: none;
  margin: 10px;
}

#table-open {
  display: block;
  width: 25px;
  margin: auto;
}

#table-show-button::after,
#table-show-button::before {
  pointer-events: none;
  --scale: 0;
  --arrow-size: 8px;
  position: absolute;
  content: "";
  top: 50%;
  left: -3px;
  transform: translateY(-50%) translateX(var(--translate-x, 0)) scale(var(--scale));
  transition: 150ms transform;
}

#table-show-button::before {
  --translate-x: calc(-100% - var(--arrow-size));
  content: attr(aria-label);
  background-color: var(--bg-color);
  color: var(--fg-color-text);
  width: 10px;
  width: max-content;
  padding: 7px;
  border-radius: 3px;
  transform-origin: right center;
  box-shadow: 0 1px 1px var(--box-shadow-color);
}

#table-show-button::after {
  transform-origin: left center;
  --translate-x: calc(-1 * var(--arrow-size) - 1px);
  border: var(--arrow-size) solid transparent;
  border-left-color: var(--bg-color);
}

#table-show-button:hover::after,
#table-show-button:hover::before {
  --scale: 1;
}

.table-filter-wrapper {
  padding-right: 60px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 60px;
  flex-shrink: 0;
}

.table-filter-open {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 0;
  box-shadow: none;
}

.table-filter-open svg {
  margin: 10px;
}

.table-filter-options {
  display: none;
  transform: scale(0);
  flex-shrink: 0;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 40%;
  height: 700px;
  max-height: 90vh;
  background: var(--bg-color);
  box-shadow: 0 0px 4px var(--box-shadow-color);
  z-index: 10000;
}

.table-filter-options-header {
  margin-block: 10px;
  text-align: center;
  height: 30px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.table-filter-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  box-shadow: none;
  border-radius: 0;
  float: right;
}

#table-options-close {
  margin: 10px;
}

.table-fieldset {
  width: 100%;
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  box-shadow: 0 1px 1px var(--box-shadow-color);
}

.table-fieldset-obiekt {
  margin-left: auto;
  padding-top: 15px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.table-fieldset label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;
  vertical-align: middle;
  flex-direction: column;
  padding-bottom: 16px;
}

.table-fieldset img {
  width: 32px;
}

.table-fieldset input {
  display: none;
}

#table-fieldset-all {
  height: 24px;
  width: 24px;
  border-radius: 16px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--map-cluster-color);
  background: var(--bg-color);
}

.table-fieldset-custom-input {
  margin-top: 10px;
  border-radius: 0.5px;
  width: 5px;
  height: 5px;
  box-shadow: 0 0 0 2px var(--bg-color), 0 0 0 3px var(--fg-color-button);
}

.table-fieldset input:checked+.table-fieldset-custom-input {
  background: var(--fg-color-button);
}

.table-filter-selects-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.table-filter-selects-wrapper>div {
  position: relative;
  margin-block: 40px;
  width: 35%;
  min-width: 150px;
  height: 20px;
  box-shadow: 0 1px var(--fg-color-border);
  cursor: pointer;
}

.table-filter-selects-wrapper>div:hover {
  box-shadow: 0 2px 0 -1px var(--fg-color);
}

.table-filter-selects-wrapper>div::before {
  content: attr(aria-label);
  position: absolute;
  font-size: 11px;
  opacity: 0.7;
  top: -20px;
}

.table-filter-selects-wrapper>div::after {
  content: '\25BC';
  font-size: 10px;
  float: right;
}

.table-filter-selects-wrapper>div>div {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  max-height: 90vh;
  word-wrap: break-word;
  overflow-y: auto;
  background: var(--bg-color);
  color: var(--fg-color);
  z-index: 999999;
  display: none;
}

.table-content-wrapper {
  background: var(--bg-color-table-content);
  width: 100%;
  overflow: auto;
}

.table-content-wrapper::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.table-content-wrapper:hover::-webkit-scrollbar-thumb {
  background: var(--bg-color-scroll-thumb);
}

.table-content-wrapper::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: transparent;
}

.table-content {
  width: 100%;
  border-collapse: collapse;
}

.table-content-header {
  font-size: 14px;
}

.table-content-data {
  overflow: auto;
}

.table-content td,
.table-content th {
  padding: 16px;
  text-align: center;
}

.table-content th,
.table-content tr {
  cursor: pointer;
}

.table-content th {
  padding-right: 24px;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  background-color: var(--bg-color-table-header);
}

.table-content th div {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.table-content tr {
  border-bottom: 1px solid var(--fg-color-border);
}

.table-content-data tr:hover {
  background: var(--bg-color-table-hover);
}

.table-pagination-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  background: var(--bg-color-table-content);
  border-top: 1px solid var(--fg-color-border);
}

.table-pagination-rows {
  display: flex;
  align-items: center;
  height: 100%;
  margin-inline: 10px;
}

.table-pagination-rows-select {
  cursor: pointer;
  color: var(--fg-color-text);
  border: none;
  background: var(--bg-color-table-content);
  margin-left: 10px;
}

.table-pagination-pages {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-pagination-pages button {
  height: 35px;
  width: 35px;
  background: transparent;
  box-shadow: none;
  border-radius: 0px;
  flex-shrink: 0;
}

.table-pagination-pages button:hover {
  background: var(--bg-color-button-hover);
}

.table-pagination-wrapper svg {
  margin: 20%;
}

.table-pagination-curr {
  width: 35px;
  text-align: center;
  color: var(--fg-color-text);
  appearance: none;
  border: none;
  background: transparent;
  -moz-appearance: textfield;
  margin-inline: 10px;
}

.table-pagination-curr::-webkit-outer-spin-button,
.table-pagination-curr::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 1040px) {
  .table-content {
    border: 0;
  }
  .table-content thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .table-content tr {
    border-bottom: 3px solid var(--fg-color-border);
    display: block;
  }
  .table-content td {
    min-height: 1em;
    border-bottom: 1px solid var(--fg-color-border);
    display: block;
    font-size: 16px;
    text-align: right;
  }
  .table-content td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .table-content td:last-child {
    border-bottom: 0;
  }
}